<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [globalFilterFields]="['username','email','role']" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="username">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage users</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="username" style="width: 30%">Username <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="email" style="width: 30%">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="role" style="width: 30%">Role <p-sortIcon field="role"></p-sortIcon></th>
            <th style="width: 10%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
              <td>
                <div *ngIf="ConnecteduserName != user.username">
                  <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </div>
                <div *ngIf="ConnecteduserName == user.username">
                  <p-tableCheckbox [disabled]="true"></p-tableCheckbox>
                </div>
              </td>
              <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                {{user.username}}
              </td>
              <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Name</span>
                {{user.email}}
              </td>
              <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                <span [class]="'customer-badge status-' + getRoleClass(user.role)">{{user.role}}</span>
              </td>
              <td>
                <div class="flex" *ngIf="ConnecteduserName != user.username">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
                </div>
                <div class="flex" *ngIf="ConnecteduserName == user.username">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2 p-disabled"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-disabled"></button>
                </div>
              </td>
            </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <span>Username : </span>
          <span>{{user.username}}</span>
        </div>
        <div class="field">
          <span>Email : </span>
          <span>{{user.email}}</span>
        </div>
        <div class="field">
          <label for="role">Role</label>
          <p-dropdown id="role" [options]="roles" optionLabel="label" [(ngModel)]="user.role" placeholder="Select a role">
            <ng-template pTemplate="selectedItem">
              <span *ngIf="user && user.role" [class]="'customer-badge status-' + getRoleClass(user.role)">{{user.role}}</span>
            </ng-template>
            <ng-template let-role pTemplate="role">
              <span [class]="'customer-badge status-' + getRoleClass(role)">{{role}}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field" style="height : 100px"></div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="user">Are you sure you want to delete <b>{{user.username}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteUsersDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected users?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUsersDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
